* {
    margin: 0;
    padding: 0;
    background-color: #FDFFFC;
    cursor: default;
    color: #777;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

/* Text */

h1 {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 2vw;
    font-weight: 600;
    font-size: 3vw;

}

h2 {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 2vw;
    font-weight: 500;
    font-size: 1vw;
}

p {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 1vw;
    font-weight: 300;
    font-size: 1vw;

}

a {
    text-decoration: none;
}

a:hover {
    color: #F8961E;
    cursor: pointer;
}

l {
    font-weight: 500;
    font-size: 1vw;
    float: left;
}

/* Menu-Bar */

.menubar {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 4vw;
    height: 1vw;
    text-align: right;

}

.menubar ul {}

.menubar ul li {
    display: inline-block;
    height: 1vw;
}

.menubar ul li a {
    text-decoration: none;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    vertical-align: middle;
    font-weight: 500;
    font-size: 1vw;
}

.menubar ul li a:hover {
    color: #F8961E;
    cursor: pointer;

}

/* Copyright */

.copyright {
    font-size: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 2vw;
    text-align: center;

}

/* Custom Variables */

:root {}
