* {
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: default;
    color: #777;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;


}

/* Menu-Bar */

.menubar {
    margin-left: var(--ml);
    margin-right: var(--mr);
    margin-top: 3vw;
    height: 1vw;
    text-align: right;

}

.menubar ul {}

.menubar ul li {
    display: inline-block;
    height: 1vw;
}

.menubar ul li a {
    text-decoration: none;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    vertical-align: middle;
    font-weight: 500;
    font-size: 1vw;
}

.menubar ul li a:hover {
    transition-duration: 0.6s;
    color: #F8961E;
    cursor: pointer;

}

.title_button:hover {
    color: #777;
}

/* Text */

h1 {
    margin-left: var(--ml);
    margin-right: var(--mr);
    margin-top: 3vw;
    font-weight: 600;
    font-size: 3vw;

}

h2 {
    margin-left: var(--ml);
    margin-right: var(--mr);
    margin-top: 3vw;
    font-weight: 500;
    font-size: 1.2vw;
}

p {
    margin-left: var(--ml);
    margin-right: var(--mr);
    margin-top: 1vw;
    font-weight: 300;
    font-size: 1.15vw;

}

a {
    text-decoration: none;
}

a:hover {
    transition-duration: 0.5s;
    color: #F8961E;
    cursor: pointer;
}

l {
    font-weight: 500;
    font-size: 1vw;
    float: left;
}

/* Home - Custom Classes */

.home_background {
    background-image: url(images/background.jpg);
    background-size: cover;
    background-size: 1450px auto;
    
}

.home_header {
    margin-left: var(--ml);
    margin-right: var(--mr);
    text-align: center;
    margin-top: 16vw;
    font-weight: 600;
    font-size: 3vw;
}

.home_desc {
    margin-left: var(--ml);
    margin-right: var(--mr);
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-weight: 300;
    font-size: 1.25vw;
}

.home_button {
    height: 20px;
    width: 200px;
    margin-left: 42vw;
    padding: 15px;
    border-style: solid;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1vw;
    background-color: transparent;
    display: grid;
    justify-content: center;
    color: #FFF;
    border-color: #fff;
}

.home_button:hover {
    transition-duration: 0.5s;
    color: #777;
    background-color: #fff;
}

#hometextcolor {
    color: #fff;
}

/* Projects - Custom Classes */

.project_box {
    margin-left: var(--ml);
    margin-right: var(--mr);
    margin-top: 1vw;
    padding: 25px;
    border-style: none;
    background-image: linear-gradient(to right, #FFAA78, #FE7368);
    border-radius: 10px;
    display: grid;
    justify-content: left;
    color: #F1F6FA;
    font-size: 1.25vw;
}

.project_box:hover {
    transition-duration: 0.5s;
    color: #777;
}

.project_desc {
    margin: 0;
    border-style: none;
    background-color: transparent;
    justify-content: right;
    color: #F1F6FA;
    font-size: 1.25vw;
}

.linked {
    color: dodgerblue;
}

#inactive {
    opacity: 0.6;
    color: #777;
    cursor: not-allowed;
}

/* Copyright */

.copyright {
    font-size: 0.75vw;
    margin-bottom: 2vw;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Custom Variables */

:root {
    --ml: 5vw;
    /* Margin left */
    --mr: 5vw;
    /* Margin right */
}


